<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message App</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <style>
        form {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            height: 48px;
        }
        
        input[type="text"] {
            -webkit-box-direction: normal;
            font: 24px/48px 'Noto Sans', sans-serif;
            background: none;
            border-top-left-radius: 48px;
            border-bottom-left-radius: 48px;
            padding-left: 15px;
            border: 1px solid #19939333;
            outline: none;
            background-image: none;
            background-color: initial;
            color: rgb(57, 246, 227);
            border-color: rgba(30, 174, 174, 0.2);
            outline-color: initial;
            flex: 8;
        }
        
        ul {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: auto;
        }
        
        ul li {
            color: #e8e6e3;
            margin: 0 auto;
            -webkit-box-direction: normal;
            width: 50%;
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            height: 48px;
        }
        
        ul li span {
            background-color: rgb(20 22 47);
            color: rgb(67 242 168);
            padding-left: 20px;
            flex: 8;
            font: 18px/48px 'Noto Sans', sans-serif;
        }
        
        ul li a,
        button[type="submit"] {
            flex: 2;
            text-align: center;
            -webkit-box-direction: normal;
            font: 18px/48px 'Noto Sans', sans-serif;
            background: none;
            border-top-right-radius: 48px;
            border-bottom-right-radius: 48px;
            padding-left: 15px;
            outline: none;
            border: none;
            cursor: pointer;
            color: rgb(57, 246, 227);
            background-color: rgba(30, 174, 174, 0.2);
            outline-color: initial;
        }
        
        ul li a {
            text-decoration: none;
            border-radius: 0;
        }
    </style>
</head>


<body>
    <div class="container">
        <ul id="room-container">
            <% Object.keys(rooms).forEach(room => { %>
                <li>
                    <span>
                        <%= room %>
                    </span>
                    <a href="/room/<%= room %>">Katıl</a>

                </li>
                <% }) %>
        </ul>
        <form action="/room" method="POST">
            <input name="room" autocomplete="false" type="text" required>
            <button type="submit">Yeni Oda</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="/script.js"></script>
</body>

</html>