html,
body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #19939333;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 750px;
  margin: 5px auto;
}

.chat-thread {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-thread li {
  overflow: hidden;
  position: relative;
  clear: both;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
          animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: #0EC879;
  display: block;
  padding: 16px 40px 16px 20px;
  max-width: 50%;
  word-wrap: break-word;
  margin: 0 0 20px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: #19939333;
}

.chat-thread li:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
}

.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #19939333;
}

.chat-thread li.you {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  color: #0AD5C1;
}

.chat-thread li:not(.you) span {
  font-size: 12px;
  width: 100%;
  display: block;
  /* position: absolute;
                top: 0;
                left: 0; */
  margin-bottom: 5px;
  color: #0AD5C1;
}

.chat-thread li.alert {
  background-color: #191b3b;
  max-width: none;
  width: 85%;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.chat-window {
  height: 55px;
  padding: 7px;
}

.chat-window .chat-window-message {
  width: 100%;
  height: 48px;
  font: 24px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #0AD5C1;
  border-radius: 48px;
  padding-left: 15px;
  border: 1px solid #19939333;
  outline: none;
}

@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}

@media (max-width: 750px) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
